#tim-statistic {
    .el-tabs__header {
        .el-tabs__active-bar {
            background-color: #405189;
        }
        .el-tabs__item {
            justify-content: flex-start;
            &.is-active {
                color: #405189;
            }
            &:hover {
                color: #405189;
            }
        }
    }
    .el-tabs__content {
        width: 60vw;
    }
    .workfeed-item.statistic {
        max-width: unset;
        margin-right: 0;
        .workfeed-item-content {
            padding: 2rem;
            table {
                position: relative;
                border: 1px solid rgba(0,0,0,.12);
                border-collapse: collapse;
                white-space: nowrap;
                font-size: 13px;
                background-color: #fff;
                width: 100%;
                tr {
                    height: 36px;
                    th,
                    td {
                        padding: 5px;
                        text-align: center;
                    }
                    th {
                        font-weight: 400;
                    }
                }
            }
        }
    }
}